<div class="container-fluid">
    <div class="inicio">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-7 col-xl-7 col-xxl-7 mt-md-5">
          <img
            class="personCambio"
            src="../../assets/img/cambioContra.svg"
            alt=""
          />
        </div>
        <div class="col-12 col-md-6 col-lg-5 col-xl-5 col-xxl-4 mt-md-5">
          <form class="cambioContra" [formGroup]="formGroup">
            <div class="pt-3 ps-md-3 pe-md-3 ps-3 pe-3 pb-2">
              <h1 class="titulo">Cambiar contraseña</h1>
            </div>
            <p class="aviso">Se ha enviado un código de seguridad a tu email.</p>
            <div class="pt-2 ps-md-3 pe-md-3 ps-3 pe-3">
              <p class="text2 mt-2">
                Ingresa el código que recibiste en tu email, tu dirección de email
                y tu nueva contraseña.
              </p>
              <div class="form-group">
                <label class="text" for="inputEmail4">Código</label>
                <input
                  type="text"
                  class="input1"
                  id="inputEmail4"
                  formControlName="codigo"
                />
                <label class="text" for="inputEmail4">Email</label>
                <input
                  type="email"
                  class="input1"
                  id="inputEmail4"
                  formControlName="email"
                  placeholder="correoelectronico@correo.com"
                />
                <label class="text" for="inputEmail4">Nueva contraseña</label>
                <input
                  type="password"
                  class="input1"
                  id="inputEmail4"
                  formControlName="npass"
                />
              </div>
              <label class="text" for="inputEmail4"
                >Confirmar nueva contraseña</label
              >
              <input
                type="password"
                class="input1"
                id="inputEmail4"
                formControlName="npassconfirm"
              />
              <button
                type="submit"
                class="boton mx-auto d-block"
                (click)="passwordReset()"
              >
                Cambiar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  