<div class="container-fluid hola">
    <div class="seguidas">
      <div class="row mt-5">
        <div class="col-lg-4 d-none d-md-block">
          <div class="row">
            <div class="col-12 col-lg-12 col-md-8 mt-lg-0 mt-5 mb-3">
              <h1 class="sub2">Filtros</h1>
              <label class="text7" (click)="limpiar()"
                ><u>Limpiar Filtros</u></label
              >
            </div>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading1">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse1"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Fecha de publicación
                </button>
              </h2>
              <div
                id="collapse1"
                class="accordion-collapse collapse"
                aria-labelledby="heading1"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-8">
                      <button (click)="fechaPublicacion(this.fechaHoy)">
                        Hoy
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="fechaPublicacion(this.fechaAyer)">
                        Últimas 24 horas
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="fechaPublicacion(this.fechaSemPas)">
                        Última semana
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="fechaPublicacion(this.fechaUlQui)">
                        Últimos 15 días
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse2"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Tipo de trabajo
                </button>
              </h2>
              <div
                id="collapse2"
                class="accordion-collapse collapse"
                aria-labelledby="heading2"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('1')">Permanente</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('2')">
                        Temporal/Por proyecto
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('3')">Becario</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('4')">
                        Tiempo Completo
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('5')">Medio Tiempo</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('6')">Nómina</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('7')">
                        Honorarios Asimilados
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingT3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse3"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Salario estimado
                </button>
              </h2>
              <div
                id="collapse3"
                class="accordion-collapse collapse"
                aria-labelledby="heading3"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <form [formGroup]="formGroup">
                      <div class="col-5">
                        <input
                          type="number"
                          class="input1"
                          placeholder="1000"
                          formControlName="min"
                        />
                      </div>
                      <div class="col-2">
                        <label class="text-center"><b>-</b></label>
                      </div>
                      <div class="col-5">
                        <input
                          type="number"
                          class="input1"
                          placeholder="1000"
                          formControlName="max"
                        />
                      </div>
                      <button (click)="rango()">Aplicar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse4  "
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Modo de empleo
                </button>
              </h2>
              <div
                id="collapse4"
                class="accordion-collapse collapse"
                aria-labelledby="heading4"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-8">
                      <button (click)="modoEmpleo('1')">Remoto</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="modoEmpleo('2')">Presencial</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="modoEmpleo('3')">Desde casa</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading5">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse5"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Nivel de educación
                </button>
              </h2>
              <div
                id="collapse5"
                class="accordion-collapse collapse"
                aria-labelledby="heading5"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('1')">Primaria</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('2')">Secundaria</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('3')">Preparatoria</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('4')">
                        Bachillerato Tecnológico
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('5')">Licenciatura</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('6')">Especialidad</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('7')">Maestria</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('8')">Doctorado</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-12 col-lg-7 col-md-8 mt-lg-0 mt-5">
              <h1 class="sub3">¿Que estas buscando?</h1>
            </div>
            <div class="col-12 col-lg-5 col-md-8 mt-lg-0 mt-4">
              <h1 class="sub3">¿Dónde?</h1>
            </div>
          </div>
          <form [formGroup]="formGroup2">
            <div class="row">
              <div class="col-12 col-lg-7 col-md-8 mt-lg-0 mt-5">
                <div class="input-group">
                  <input
                    type="search"
                    (search)="limpiar()"
                    class="form-control busqueda"
                    placeholder="Área deseada"
                    [ngModel]="txtAreaDeseada"
                    aria-label="Search"
                    aria-describedby="search-addon"
                    formControlName="area"
                  />
                </div>
              </div>
              <div class="col-12 col-lg-5 col-md-8 mt-lg-0 mt-3">
                <div class="input-group">
                  <input
                    type="search"
                    (search)="limpiar()"
                    style="font-family: 'SegoeUI', 'Font Awesome 5 Pro'"
                    class="form-control busqueda"
                    placeholder="&#xf3c5;  Ubicación"
                    [ngModel]="txtBuscar"
                    aria-label="Search"
                    aria-describedby="search-addon"
                    formControlName="ubicacion"
                  />
                  <button
                    class="btnBusqueda"
                    type="button"
                    (click)="buscar()"
                    routerLinkActive="router-link-active"
                  >
                    Buscar
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12 col-lg-12 col-md-8 mt-5">
              <h1 class="sub2">Encuentra una vacante</h1>
            </div>
          </div>
          <div class="row mb-5 mt-3">
            <div class="col-4 col-md-3 col-lg-3 col-xl-3 col-xxl-2">
              <label class="text">Clasificar por</label>
            </div>
            <div class="col-4 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
              <div class="dropdown">
                <button
                  class="drop2 dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ this.elegido }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="ordenar()">Mas Recientes</a>
                  <a class="dropdown-item" (click)="ordenaraz()">Nombre A-Z</a>
                  <a class="dropdown-item" (click)="ordenarza()">Nombre Z-A</a>
                  <a class="dropdown-item" (click)="ordSalarioMax()"
                    >Salario maximo</a
                  >
                  <a class="dropdown-item" (click)="ordSalarioMin()"
                    >Salario minimo</a
                  >
                </div>
              </div>
            </div>
            <div class="col-4 d-md-none">
              <button
                class="botonfiltro"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modalFiltros"
              >
                Filtrar
              </button>
            </div>
            <div
              class="col-12 col-md-5 col-lg-5 col-xl-5 col-xxl-7 d-flex justify-content-end mt-5 mt-md-0"
            >
              <label class="text2"
                >Página {{ this.p }} de {{ this.paginas }}</label
              >
            </div>
          </div>
          <div class="divh">
            <div
              class="card"
              *ngFor="
                let item of this.arrEmpleos
                  | paginate
                    : {
                        itemsPerPage: this.numPages,
                        currentPage: p
                      }
              "
            >
              <div class="ribbon" *ngIf="item.new == 1">Nuevo</div>
              <div class="card-body">
                <div class="row mb-2 mt-3">
                  <div class="col-3 col-lg-1 col-md-2">
                    <img src="img/logoCard.svg" alt="" />
                  </div>
                  <div class="col-9 col-lg-4 col-md-6">
                    <h5 class="card-title">
                      {{ item.name }}
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="text2">{{ item.company }}</label>
                    <label class="text3"
                      ><i class="fas fa-map-marker-alt"></i
                      >{{ item.location }}</label
                    >
                    <p class="text4 text-truncate">
                      {{ item.description }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end"
                  >
                    <label class="card-title" *ngIf="item.max_salary != 0">
                      ${{ item.min_salary }} - ${{ item.max_salary }} mxn</label
                    >
                    <label class="card-title" *ngIf="item.max_salary == 0">
                      ${{ item.min_salary }} mxn</label
                    >
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-8 col-lg-4 col-md-4 offset-lg-8 offset-md-8 offset-4 d-flex justify-content-end"
                  >
                    <button
                      class="botonR mt-2"
                      type="button"
                      [routerLink]="['/inicio/detalle_empleo', item.id_vacant]"
                    >
                      Postúlate ahora
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <pagination-controls
              class="paginacion"
              (pageChange)="p = $event"
              previousLabel="Anterior"
              nextLabel="Siguiente"
            ></pagination-controls>
            <!-- <div class="card">
              <div class="ribbon">Nuevo</div>
              <div class="card-body">
                <div class="row mb-2 mt-3">
                  <div class="col-3 col-lg-1 col-md-2">
                    <img src="img/logoCard.svg" alt="" />
                  </div>
                  <div class="col-9 col-lg-4 col-md-6">
                    <h5 class="card-title">
                      Nombre completo del puesto de trabajo
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="text2">Nombre de la empresa que oferta</label>
                    <label class="text3"
                      ><i class="fas fa-map-marker-alt"></i>Ubicación del
                      empleo</label
                    >
                    <p class="text4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end"
                  >
                    <label class="card-title">$5,500 - $7,200 mxn</label>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-8 col-lg-4 col-md-4 offset-lg-8 offset-md-8 offset-4 d-flex justify-content-end"
                  >
                    <button class="botonR mt-2" type="button">
                      Postúlate ahora
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="ribbon">Nuevo</div>
              <div class="card-body">
                <div class="row mb-2 mt-3">
                  <div class="col-3 col-lg-1 col-md-2">
                    <img src="img/logoCard.svg" alt="" />
                  </div>
                  <div class="col-9 col-lg-4 col-md-6">
                    <h5 class="card-title">
                      Nombre completo del puesto de trabajo
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="text2">Nombre de la empresa que oferta</label>
                    <label class="text3"
                      ><i class="fas fa-map-marker-alt"></i>Ubicación del
                      empleo</label
                    >
                    <p class="text4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end"
                  >
                    <label class="card-title">$5,500 - $7,200 mxn</label>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-8 col-lg-4 col-md-4 offset-lg-8 offset-md-8 offset-4 d-flex justify-content-end"
                  >
                    <button class="botonR mt-2" type="button">
                      Postúlate ahora
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="ribbon">Nuevo</div>
              <div class="card-body">
                <div class="row mb-2 mt-3">
                  <div class="col-3 col-lg-1 col-md-2">
                    <img src="img/logoCard.svg" alt="" />
                  </div>
                  <div class="col-9 col-lg-4 col-md-6">
                    <h5 class="card-title">
                      Nombre completo del puesto de trabajo
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="text2">Nombre de la empresa que oferta</label>
                    <label class="text3"
                      ><i class="fas fa-map-marker-alt"></i>Ubicación del
                      empleo</label
                    >
                    <p class="text4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end"
                  >
                    <label class="card-title">$5,500 - $7,200 mxn</label>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-8 col-lg-4 col-md-4 offset-lg-8 offset-md-8 offset-4 d-flex justify-content-end"
                  >
                    <button class="botonR mt-2" type="button">
                      Postúlate ahora
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="ribbon">Nuevo</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-7">
                    <label class="text1">Hace ## tiempo</label>
                  </div>
                </div>
                <div class="row mb-2 mt-3">
                  <div class="col-3 col-lg-1 col-md-2">
                    <img src="img/logoCard.svg" alt="" />
                  </div>
                  <div class="col-9 col-lg-4 col-md-6">
                    <h5 class="card-title">
                      Nombre completo del puesto de trabajo
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="text2">Nombre de la empresa que oferta</label>
                    <label class="text3"
                      ><i class="fas fa-map-marker-alt"></i>Ubicación del
                      empleo</label
                    >
                    <p class="text4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end"
                  >
                    <label class="card-title">$5,500 - $7,200 mxn</label>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-8 col-lg-4 col-md-4 offset-lg-8 offset-md-8 offset-4 d-flex justify-content-end"
                  >
                    <button class="botonR mt-2" type="button">
                      Postúlate ahora
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="ribbon">Nuevo</div>
              <div class="card-body">
                <div class="row mb-2 mt-3">
                  <div class="col-3 col-lg-1 col-md-2">
                    <img src="img/logoCard.svg" alt="" />
                  </div>
                  <div class="col-9 col-lg-4 col-md-6">
                    <h5 class="card-title">
                      Nombre completo del puesto de trabajo
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="text2">Nombre de la empresa que oferta</label>
                    <label class="text3"
                      ><i class="fas fa-map-marker-alt"></i>Ubicación del
                      empleo</label
                    >
                    <p class="text4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end"
                  >
                    <label class="card-title">$5,500 - $7,200 mxn</label>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-8 col-lg-4 col-md-4 offset-lg-8 offset-md-8 offset-4 d-flex justify-content-end"
                  >
                    <button class="botonR mt-2" type="button">
                      Postúlate ahora
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="ribbon">Nuevo</div>
              <div class="card-body">
                <div class="row mb-2 mt-3">
                  <div class="col-3 col-lg-1 col-md-2">
                    <img src="img/logoCard.svg" alt="" />
                  </div>
                  <div class="col-9 col-lg-4 col-md-6">
                    <h5 class="card-title">
                      Nombre completo del puesto de trabajo
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <label class="text2">Nombre de la empresa que oferta</label>
                    <label class="text3"
                      ><i class="fas fa-map-marker-alt"></i>Ubicación del
                      empleo</label
                    >
                    <p class="text4">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end"
                  >
                    <label class="card-title">$5,500 - $7,200 mxn</label>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-8 col-lg-4 col-md-4 offset-lg-8 offset-md-8 offset-4 d-flex justify-content-end"
                  >
                    <button class="botonR mt-2" type="button">
                      Postúlate ahora
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal filtro-->
  <div
    class="modal fade modalFiltros"
    id="modalFiltros"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-lg-12 col-md-8 mt-lg-0 mt-5 mb-3">
              <h1 class="sub2">Filtros</h1>
              <label class="text7" (click)="limpiar()"
                ><u>Limpiar Filtros</u></label
              >
            </div>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading1">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse1"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Fecha de publicación
                </button>
              </h2>
              <div
                id="collapse1"
                class="accordion-collapse collapse"
                aria-labelledby="heading1"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-8">
                      <button (click)="fechaPublicacion(this.fechaHoy)">
                        Hoy
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="fechaPublicacion(this.fechaAyer)">
                        Últimas 24 horas
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="fechaPublicacion(this.fechaSemPas)">
                        Última semana
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="fechaPublicacion(this.fechaUlQui)">
                        Últimos 15 días
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse2"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Tipo de trabajo
                </button>
              </h2>
              <div
                id="collapse2"
                class="accordion-collapse collapse"
                aria-labelledby="heading2"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('1')">Permanente</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('2')">
                        Temporal/Por proyecto
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('3')">Becario</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('4')">
                        Tiempo Completo
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('5')">Medio Tiempo</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('6')">Nómina</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="tipodeTrabajo('7')">
                        Honorarios Asimilados
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingT3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse3"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Salario estimado
                </button>
              </h2>
              <div
                id="collapse3"
                class="accordion-collapse collapse"
                aria-labelledby="heading3"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <form [formGroup]="formGroup">
                      <div class="col-5">
                        <input
                          type="number"
                          class="input1"
                          placeholder="1000"
                          formControlName="min"
                        />
                      </div>
                      <div class="col-2">
                        <label class="text-center"><b>-</b></label>
                      </div>
                      <div class="col-5">
                        <input
                          type="number"
                          class="input1"
                          placeholder="1000"
                          formControlName="max"
                        />
                      </div>
                      <button (click)="rango()">Aplicar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse4  "
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Modo de empleo
                </button>
              </h2>
              <div
                id="collapse4"
                class="accordion-collapse collapse"
                aria-labelledby="heading4"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-8">
                      <button (click)="modoEmpleo('1')">Remoto</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="modoEmpleo('2')">Presencial</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="modoEmpleo('3')">Desde casa</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading5">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse5"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Nivel de educación
                </button>
              </h2>
              <div
                id="collapse5"
                class="accordion-collapse collapse"
                aria-labelledby="heading5"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('1')">Primaria</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('2')">Secundaria</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('3')">Preparatoria</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('4')">
                        Bachillerato Tecnológico
                      </button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('5')">Licenciatura</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('6')">Especialidad</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('7')">Maestria</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <button (click)="nivelEducativo('8')">Doctorado</button>
                    </div>
                    <div class="col-4">
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="boton mx-auto d-block">Filtrar</button>
        </div>
      </div>
    </div>
  </div>
  