<form [formGroup]="info" (ngSubmit)="updateInfo()">
    <h1 class="titulo">Misión</h1>
    <label class="sub">Descripción de la misión de la empresa</label>
    <textarea formControlName="mission" [readonly]="readOnly" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="{{information.mission}}"></textarea>
    <div class="row">
        <div class="col-8 col-lg-4 col-md-6 mt-3">
            <button class="boton2" (click)="disabled()">Editar información</button>
        </div>
        <div class="col-8 col-lg-4 col-md-6 mt-3">
            <button class="boton2" [disabled]="readOnly" >Guardar</button>
        </div>
    </div>
</form>