
<div class="container-fluid">   
    <div class="inicioReclutador">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-7 mt-5 mt-lg-0">
                <img class="persInicio" src="../../assets/img/inicioRecluta.svg" alt="">
            </div>
            <div class="col-12 col-lg-3 col-md-5">
                <form class="">
                    <h1 class="titulo mb-4">Completa tu registro</h1>
                    <label class="text">Nombre del reclutador</label>
                    <input type="email" class="input1 mb-3" placeholder="reclutador@tucorreo.com" readonly >
                    <div class="form-group">
                        <label class="text3" for="inputPassword4">Contraseña</label>
                        <input type="password" class="input1" id="inputPassword4" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="text3" for="inputPassword4">Confirmar contraseña</label>
                        <input type="password" class="input1" id="inputPassword4" placeholder="">
                    </div>
                    <label class="text2">Al registrarte aceptas los términos y condiciones</label>
                    <button type="submit" class="boton mx-auto d-block">Completar registro</button>
                </form>
            </div>  
        </div>
    </div>
</div>