<div class="container-fluid">   
    <div class="inicio bienvenido">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-5 col-xxl-4 mt-lg-0 mt-5">
                <img class="imgBienv" src="../../assets/img/Personaje6.svg" alt="">
            </div> 
            <div class="col-12 col-md-7 col-lg-6 col-xl-5 col-xxl-6 mt-lg-5 mt-5">
                <h1 class="titulo1 text-center">Bienvenido</h1>
                <label class="sub1 mb-0 mb-md-5">Completa tu perfil para comenzar a postularte.</label>
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-6 col-md-6 d-flex justify-content-center">
                        <button type="submit" class="boton mx-auto d-block mt-5 mt-lg-3" routerLink="/talento/perfil">Completar perfil</button>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>