<p>profile works!</p>
<div class="fondo2">
    <img src="../../../../../assets/img/circulo2.svg" alt="">
</div>   
<div class="container-fluid">   
<div class="perfil">
    <div class="row">
        <div class="col-12 col-lg-2 col-md-4 mt-lg-0 mt-5">
            <div id="profile-container" class="profile-container" style="background: transparent; border: solid 2px #ffffff;">
                <img id="profileImage" class="profileImage mx-auto" src="../../../../../assets/img/foto.svg">
            </div>
            <img class="imgPre" id="imagenPrevisualizacion">
        </div>
        <div class="col-12 col-lg-7 col-md-12 mt-lg-0 mt-5">
            <!-- <app-basic-info></app-basic-info>
            <app-presentation></app-presentation>
            <app-person-info></app-person-info>
            <app-job-preferences></app-job-preferences> -->
            <app-work-experience></app-work-experience>
            <app-education></app-education>
            <app-recognitions></app-recognitions>
            <app-languages></app-languages>
            <app-skills></app-skills>
              
        </div>  
        <div class="col-12 col-lg-3 col-md-6 mt-lg-0 mt-5">
            <app-resume></app-resume>
            <form>
                <label class="titulo text-center mt-4 mb-4 d-block">Comparte tu perfil</label>
                <div class="row mb-4 d-flex justify-content-center">
                    <div class="col-2">
                        <img src="../../../../../assets/img/linkedin.svg" alt="">
                    </div>
                    <div class="col-2">
                        <img src="../../../../../assets/img/facebook.svg" alt="">
                    </div>
                    <div class="col-2">
                        <img src="../../../../../assets/img/twitter.svg" alt="">
                    </div>
                    <div class="col-2">
                        <img src="../../../../../assets/img/compartir.svg" alt="">
                    </div>
                </div>  
            </form>
        </div>  
    </div>
</div>

