<footer class="page-footer pb-4">
    <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-5 col-md-12 col-sm-6  pt-3 py-2 py-lg-5 py-md-2 pt-md-5 py-sm-5">
                    <img class="logoF"src="../../assets/img/ce-fondo-oscuro.svg" alt="">
                    <p class="mr-lg-5">En capital empleo, ¡el empleo llegó hasta ti!
                        Encuentra el empleo o candidato que estás buscando con nuestra tecnología.
                        ¡Somos el servicio de empleo más dinámico!
                    </p>
                </div>
                <div class="col-12 col-lg-5 col-md-10 col-sm-6  py-2 py-lg-5 py-md-2 pb-md-5 py-sm-5 ">
                    <div class="row mt-3">
                        <div class="col-4 col-lg-4 col-md-4">
                            <h2 class="sub">Candidatos</h2>
                            <li>Crea una cuenta</li>
                            <li>Inicia sesión</li>
                            <li>Crea tu curriculum</li>
                            <li>Busca vacantes</li>
                            <li>Perfiles de empresa</li>
                        </div>
                        <div class="col-4 col-lg-4 col-md-4">
                            <h2 class="sub">Empresas</h2>
                            <li>Encuentra talento</li>
                            <li>Publica vacantes</li>
                            <li>Administra tus vacantes</li>
                            <li>Contacto directo con candidatos</li>
                            <li>Verifica tu empresa</li>
                        </div>
                        <div class="col-4 col-lg-4 col-md-4">
                            <h2 class="sub">Nosotros</h2>
                            <li>Acerca de</li>
                            <li>Nuestros paquetes</li>
                            <li>Conoce a Juan Chambitas</li>
                            <li>Blog</li>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-2 col-sm-6 py-2 py-lg-5 py-md-5 py-sm-5 ">
                    <div class="row mt-3 mb-3">
                        <div class="col-2 col-lg-3 col-md-6 offset-lg-5">
                            <h2 class="sub">Síguenos</h2>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col-2 col-lg-3 col-md-6 offset-lg-5">
                            <a target="_blank" href="#"><img src="../../../assets/img/face.svg"></a>
                        </div>
                        <div class="col-2 col-lg-3 col-md-6">
                            <a target="_blank" href="#"><img src="../../../assets/img/insta.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-flex justify-content-start">
                    <span>Exclusión de garantías y responsabilidad</span>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <span>Desarrollado por CREATIVESOFT</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-flex justify-content-start">
                    <span>Términos y condiciones</span>
                </div>
            </div>
    </div>
</footer>
