<ng-container >
    <ng-container >
        <div >
            <h1 class="titulo">Reconocimientos</h1>
            <label class="sub">Nombre de la institución</label>
            <input type="text" >
            <label class="sub">Reconocimiento</label>
            <input type="text" >
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 col-md-4">
                <label class="sub">Fecha de expedición</label>
                <input type="date" formControlName="date">
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-4 col-md-6 mt-3">
                <button type="submit" class="boton2">Guardar</button>
            </div>
            <div class="col-6 col-lg-4 col-md-6 mt-3">
                <button type="submit" class="boton5">Cancelar</button>
            </div>
        </div>
    </ng-container>
</ng-container>