<div class="container-fluid">
    <div class="inicio">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-7 col-xxl-7 mt-md-5">
          <img class="persOlvido mx-auto d-block" src="../../assets/img/olvido.svg" alt="" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 offset-xxl-2 offset-xl-1 mt-md-5">
          <form class="inicioSesion" [formGroup]="formGroup">
            <h1 class="titulo">¿Olvidaste tu contraseña?</h1>
            <p class="text3 mt-2">
              No te preocupes, te ayudaremos. Danos la dirección de correo
              electrónico con la que te registraste en Capital Empleo y te
              enviaremos las instrucciones para que restablezcas la contraseña.
            </p>
            <div class="form-group">
              <label class="text" for="inputEmail4">Email</label>
              <input
                type="email"
                class="input1"
                id="inputEmail4"
                formControlName="email"
                placeholder="correoelectronico@correo.com"
              />
            </div>
            <button
              type="submit"
              class="boton mx-auto d-block mt-5"
              (click)="passwordReset()"
            >
              Enviar acceso
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  