<ng-container>
    <ng-container>
        <div>
            <label class="sub">Nombre del idioma</label>
            <input type="text">
        </div>
        <div class="dropdown">
            <button class="drop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Básico</a>
                <a class="dropdown-item" href="#">Intermedio</a>
                <a class="dropdown-item" href="#">Avanzado</a>
                <a class="dropdown-item" href="#">Nativo</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-4 col-md-6 mt-3">
                <button type="submit" class="boton2">Guardar</button>
            </div>
            <div class="col-6 col-lg-4 col-md-6 mt-3">
                <button type="submit" class="boton5">Cancelar</button>
            </div>
        </div>
    </ng-container>
</ng-container>