<form>
    <h1 class="titulo">Habilidades</h1>
    <label class="sub">Habilidad</label>
    <input type="text" placeholder="" value="">
    <label class="sub">Habilidad</label>
    <input type="text" value="">
    <label class="sub">Habilidad</label>
    <input type="text" value="">
    <div class="row">
        <div class="col-8 col-lg-4 col-md-6 mt-3">
            <!--button type="submit" class="boton2">Editar información</button-->
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-4 col-md-6 mt-3">
            <button type="submit" class="boton2">Guardar</button>
        </div>
        <div class="col-6 col-lg-4 col-md-6 mt-3">
            <button type="submit" class="boton5">Cancelar</button>
        </div>
    </div>
    <button type="submit" class="boton4"><img src="../../../../../assets/img/agregar.svg"></button>
</form>