<div class="fondo2">
    <img src="../../assets/img/circulo2.svg" alt="">
</div>
<div class="container-fluid">
    <div class="inicio bienvenido">
        <div class="row">
            <div class="col-12 col-lg-4 col-md-5 mt-lg-0 mt-5">
                <img class="imgBienv" src="../../assets/img/Personaje6.svg" alt="">
            </div>
            <div class="col-12 col-lg-5 col-md-7 mt-xl-5">
                <h1 class="titulo1 text-start ml-lg-5 ml-md-5 ml-0">Gracias por activar tu cuenta</h1>
                <label class="sub1 mb-5 ml-md-5 text-start">Ingresa a tu cuenta para comenzar a postularte.</label>
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-7 ml-lg-5 ml-md-5 ml-0">
                        <button type="submit" class="boton" [routerLink]="['/']">Ingresa a tu cuenta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>