<div class="fondo2">
    <img src="../../../../../assets/img/circulo2.svg" alt="">
</div>     
<div class="fondo1">
    <img src="../../../../../assets/img/circulo8.svg" alt="">
</div> 
<div class="container-fluid">   
    <div class="mesa">
        <div class="container">
            <div class="grid1">
                <div class="row">
                    <div class="col-12">
                        <div id="profile-container" class="profile-container">
                            <!--image id="profileImage" class="profileImage mx-auto" src="../../../../../assets/img/perfilmesa.png"></image-->
                            <!--input id="imageUpload" class="imageUpload" type="file" name="logoToUpload" placeholder="Photo" required capture accept="image/*" -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="imgPre" id="imagenPrevisualizacion">
                        <label class="text">Juan Chambitas</label>
                        <label class="text2">Contador público</label>
                        <button class="boton mx-auto d-block" type="button">Edita tu perfil</button>
                        <p class="text3 mt-3">Actualizado hace 2 días</p>
                    </div>
                </div>
            </div>
            <div class="grid2">
                <div class="pbuscar">
                    <div class="row">
                        <div class="col-12">
                            <label class="text">Busca empleo ahora</label>
                        </div>
                     </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 col-md-7">
                            <div class="form-outline">
                                <input type="search" class="input pl-2" placeholder="Escribe el cargo o área profesional" aria-label="Search" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-5">
                            <div class="dropdown">
                                <button class="drop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Seleccione un estado
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Chihuahua</a>
                                    <a class="dropdown-item" href="#">Jalisco</a>
                                    <a class="dropdown-item" href="#">Nuevo Leon</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 col-md-4 offset-md-8 offset-lg-0 mt-md-3 mt-lg-0">
                            <button class="boton mx-auto d-block" type="button">Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="ofertas">
                    <div class="row">
                        <div class="col-12 mt-3 mt-md-0">
                            <label class="text">Ofertas que se adaptan a tu perfil</label>
                        </div>
                    </div>
                    <div class="card">
                        <div class="ribbon">Nuevo</div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3 col-lg-1 col-md-2">
                                        <img src="../../../../../assets/img/logoCard.svg" alt="">
                                    </div>
                                    <div class="col-9 col-lg-11 col-md-9">
                                        <h5 class="card-title">Nombre completo del puesto de trabajo</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="text2">Nombre de la empresa que oferta</label>
                                        <label class="text3"><i class="fas fa-map-marker-alt mr-1"></i>Ubicación del empleo</label>
                                        <p class="text4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end">
                                        <label class="card-title">$5,500 - $7,200 mxn</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-md-6 col-lg-6 col-xl-5 col-xxl-4 offset-xxl-8 offset-xl-7 offset-lg-6 offset-md-6 offset-4 d-flex justify-content-end">
                                        <button class="botonR mt-2" type="button">Ver vacante ahora</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                        <div class="ribbon">Nuevo</div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3 col-lg-1 col-md-2">
                                        <img src="../../../../../assets/img/logoCard.svg" alt="">
                                    </div>
                                    <div class="col-9 col-lg-11 col-md-9">
                                        <h5 class="card-title">Nombre completo del puesto de trabajo</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="text2">Nombre de la empresa que oferta</label>
                                        <label class="text3"><i class="fas fa-map-marker-alt mr-1"></i>Ubicación del empleo</label>
                                        <p class="text4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end">
                                        <label class="card-title">$5,500 - $7,200 mxn</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-md-6 col-lg-6 col-xl-5 col-xxl-4 offset-xxl-8 offset-xl-7 offset-lg-6 offset-md-6 offset-4 d-flex justify-content-end">
                                        <button class="botonR mt-2" type="button">Ver vacante ahora</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                        <div class="ribbon">Nuevo</div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3 col-lg-1 col-md-2">
                                        <img src="../../../../../assets/img/logoCard.svg" alt="">
                                    </div>
                                    <div class="col-9 col-lg-11 col-md-9">
                                        <h5 class="card-title">Nombre completo del puesto de trabajo</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="text2">Nombre de la empresa que oferta</label>
                                        <label class="text3"><i class="fas fa-map-marker-alt mr-1"></i>Ubicación del empleo</label>
                                        <p class="text4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end">
                                        <label class="card-title">$5,500 - $7,200 mxn</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-md-6 col-lg-6 col-xl-5 col-xxl-4 offset-xxl-8 offset-xl-7 offset-lg-6 offset-md-6 offset-4 d-flex justify-content-end">
                                        <button class="botonR mt-2" type="button">Ver vacante ahora</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                        <div class="ribbon">Nuevo</div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3 col-lg-1 col-md-2">
                                        <img src="../../../../../assets/img/logoCard.svg" alt="">
                                    </div>
                                    <div class="col-9 col-lg-11 col-md-9">
                                        <h5 class="card-title">Nombre completo del puesto de trabajo</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="text2">Nombre de la empresa que oferta</label>
                                        <label class="text3"><i class="fas fa-map-marker-alt mr-1"></i>Ubicación del empleo</label>
                                        <p class="text4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-12 col-lg-7 col-md-7 offset-lg-5 offset-md-5 d-flex justify-content-end">
                                        <label class="card-title">$5,500 - $7,200 mxn</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 col-md-6 col-lg-6 col-xl-5 col-xxl-4 offset-xxl-8 offset-xl-7 offset-lg-6 offset-md-6 offset-4 d-flex justify-content-end">
                                        <button class="botonR mt-2" type="button">Ver vacante ahora</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row mb-5 mt-5">
                        <div class="col-5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid3">
                <div class="ppostulacion">
                    <div class="row">
                        <div class="col-12">
                            <label class="text">Tus postulaciones</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="boton mx-auto d-block" type="button">Aplicado en ## ofertas <i class="fas fa-chevron-right"></i></button>
                            <button class="boton mx-auto d-block" type="button">CV visto en ## ofertas <i class="fas fa-chevron-right"></i></button>
                            <button class="boton mx-auto d-block" type="button">Aceptado en ## ofertas <i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="boton2 mx-auto d-block" type="button">Ver todas tus postulaciones</button>
                        </div>
                     </div>
                </div>
                <div class="pvisual mt-5">
                    <div class="row">
                        <div class="col-12">
                            <label class="text">Tu talento se nota</label>
                            <label class="text2">Visualizaciones del perfil</label>
                            <label class="text3">10</label>
                            <button class="boton mx-auto d-block" type="button">Ver quién ha visto tu perfil</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid4">
                <div class="tips mt-md-5">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="text">5 tips<br><span>para mejorar tu perfil profesional</span></label>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col-8 col-md-4 col-lg-8 col-xl-8 offset-md-5">
                            <img class="img" src="../../../../../assets/img/imggrid4.svg" alt="">
                        </div>
                        <div class="col-2 col-md-3 col-lg-2 col-xl-3">
                            <label class="text2">01</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <label class="text3">Tu imagen es importante</label>
                            <label class="text4">Preséntate con una foto de perfil que transmita tu profesionalidad</label>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col-3 col-md-4 col-lg-6 col-xl-5 col-xxl-4">
                            <label class="text2">02</label>
                        </div>
                        <div class="col-9 col-md-4 col-lg-6 col-xl-7 col-xxl-8">
                            <img class="img" src="../../../../../assets/img/img2grid4.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="text3">Mantente actualizado</label>
                            <label class="text4">Actualiza tu CV regularmente y revisa todos los detalles</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <label class="text2">03</label>
                            <label class="text3">Busca de la mejor manera</label>
                            <label class="text4">Busca empleo con palabras o filtros genéricos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="text2">04</label>
                            <label class="text3">Aplica regularmente</label>
                            <label class="text4">Nunca sabes cuál será tu próximo trabajo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <label class="text2">05</label>
                            <label class="text3">Encuentra el empleo de tus sueños</label>
                            <label class="text4">Preséntate con una foto de perfil que transmita tu profesionalidad</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid5">
                <div class="pempresas mt-4">
                    <div class="row">
                        <div class="col-12">
                            <label class="text">Estas empresas te buscan en Capital empleo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="cuadroimg mx-auto d-block">
                                <img class="mx-auto d-block" src="../../../../../assets/img/chivas.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cuadroimg mx-auto d-block">
                                <img class="mx-auto d-block" src="../../../../../assets/img/chivas.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cuadroimg mx-auto d-block">
                                <img class="mx-auto d-block" src="../../../../../assets/img/chivas.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cuadroimg mx-auto d-block">
                                <img class="mx-auto d-block" src="../../../../../assets/img/chivas.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cuadroimg mx-auto d-block">
                                <img class="mx-auto d-block" src="../../../../../assets/img/chivas.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cuadroimg mx-auto d-block">
                                <img class="mx-auto d-block" src="../../../../../assets/img/chivas.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid6">
                <div class="aprende">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label class="titulo">Tu Aprendizaje en Capital Talento</label>
                            </li>
                                <li class="list-group-item">
                                    <label class="text">El valor de las ideas</label>
                                    <p class="text2">Mercadotecnia</p>
                                    <p class="text2">Impartido por Ana Boleana</p>
                                </li>
                                <li class="list-group-item">
                                    <label class="text">Protocolo de llamadas</label>
                                    <p class="text2">Soft skills</p>
                                    <p class="text2">Impartido por Ana Boleana</p>
                                </li>
                                <li class="list-group-item">
                                    <button class="boton mx-auto d-block" type="button">Sigue aprendiendo <i class="fas fa-chevron-right"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>      

