<div class="fondo2">
    <img src="../../../../../assets/img/circulo2.svg" alt="">
</div>   
<div class="container-fluid">   
<div class="perfil">
    <div class="row">
        <div class="col-12 col-lg-2 col-md-4 mt-lg-0 mt-5">
            <div id="profile-container" class="profile-container" style="background: transparent; border: solid 2px #ffffff;">
                <img id="profileImage" class="profileImage mx-auto" src="../../../../../assets/img/fotopempresa.svg">
                <!-- <input id="imageUpload" class="imageUpload" type="file" name="logoToUpload" placeholder="Photo" required capture accept="image/*" > -->
            </div>
            <img class="imgPre" id="imagenPrevisualizacion">
        </div>
        <div class="col-12 col-lg-7 col-md-12 mt-lg-0 mt-5">
            <app-basic-info></app-basic-info>
            <app-social></app-social>
            <app-about-company></app-about-company>
            <app-mission></app-mission>
            <app-vision></app-vision>
            <app-values></app-values>
            <app-certificados></app-certificados>
        </div>   
    </div>
</div>