<div class="lesson-form-row">

    <h1 class="titulo">Experiencia laboral</h1>
    <label class="sub">Nombre de la empresa</label>
        <input type="text" >
    <label class="sub">Puesto</label>
        <input type="text" >
    <div class="row">
    <div class="row">
        <div class="col-12 col-lg-4 col-md-4">
            <label class="sub">Fecha de inicio</label>
            <input type="date" >
        </div>
        <div class="col-12 col-lg-4 col-md-4">
            <label class="sub">Fecha de termino</label>
            <input type="date" >
        </div>
        <div class="col-12 col-lg-4 col-md-4 mt-lg-4 mt-3">
        <!--Input checkox-->
            <label class="checkbox" >
                <input type="checkbox" >
                <span class="check"></span>
                <span class="textCheck">Sigo en ese puesto</span>
            </label>
        </div>
    </div>
    <label class="sub mt-3">Estado/Localidad</label>
    <input type="text">
    <label class="sub">Detalles</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" >persona.data.work_experience.details}}</textarea>
    <div class="row">
        <div class="col-6 col-lg-4 col-md-6">
            <button type="submit" class="boton2">Guardar</button>
        </div>
        <div class="col-6 col-lg-4 col-md-6">
            <button type="submit" class="boton5" >Cancelar</button>
        </div>
    </div>
</div>
</div>  