<form>
    <h1 class="titulo">Datos personales</h1>
    <label class="sub">Discapacidad</label>
    <div class="row">
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioh" type="radio" id='radioP' checked>
                <span>No</span>
            </label>
        </div>
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioh" type="radio" id='radioP'>
                <span>Si</span>
            </label>
        </div>
    </div>
    <label class="sub">Dispuesto a viajar</label>
    <div class="row">
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP'>
                <span>No</span>
            </label>
        </div>
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP'>
                <span>Si</span>
            </label>
        </div>
        <div class="col-6 col-lg-4 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' checked>
                <span>Depende de la oportunidad</span>
            </label>
        </div>
    </div>

    <label class="sub">Nivel de educación más alto</label>
    
    <div class="dropdown">
        <button class="drop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecciona tu nivel educativo
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Primaria</a>
            <a class="dropdown-item" href="#">Secundaria</a>
            <a class="dropdown-item" href="#">Preparatoria</a>
            <a class="dropdown-item" href="#">Licenciatura</a>
            <a class="dropdown-item" href="#">Ingenieria</a>
            <a class="dropdown-item" href="#">Técnico superior</a>
            <a class="dropdown-item" href="#">Maestria</a>
            <a class="dropdown-item" href="#">Doctorado</a>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-lg-4 col-md-6 mt-3">
            <!--button type="submit" class="boton2">Editar información</button-->
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-4 col-md-6">
            <button type="submit" class="boton2">Guardar</button>
        </div>
        <div class="col-6 col-lg-4 col-md-6">
            <button type="submit" class="boton5">Cancelar</button>
        </div>
    </div>
</form>