<form formControlName="profileForm" (ngSubmit)="updateInfo()">
    <h1 class="titulo">Datos personales</h1>
    <label class="sub">Discapacidad</label>
    <div class="row" *ngIf="information['persona_info'].handicap == 0">
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioh" type="radio" id='radioP' (click)="noHandicap()" checked>
                <span>No</span>
            </label>
        </div>
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioh" type="radio" id='radioP' (click)="handicap()" >
                <span>Si</span>
            </label>
        </div>
    </div>
    <div class="row" *ngIf="information['persona_info'].handicap == 1">
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioh" type="radio" id='radioP' (click)="noHandicap()">
                <span>No</span>
            </label>
        </div>
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioh" type="radio" id='radioP' (click)="handicap()" checked>
                <span>Si</span>
            </label>
        </div>
    </div>

    <label class="sub">Dispuesto a viajar</label>
    <div class="row" *ngIf="information['persona_info'].travel == 0">
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="noTravel()" checked>
                <span>No</span>
            </label>
        </div>
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="travel()">
                <span>Si</span>
            </label>
        </div>
        <div class="col-6 col-lg-4 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="depends()" >
                <span>Depende de la oportunidad</span>
            </label>
        </div>
    </div>
    <div class="row" *ngIf="information['persona_info'].travel == 1">
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="noTravel()">
                <span>No</span>
            </label>
        </div>
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="travel()" checked>
                <span>Si</span>
            </label>
        </div>
        <div class="col-6 col-lg-4 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="depends()" >
                <span>Depende de la oportunidad</span>
            </label>
        </div>
    </div>
    <div class="row" *ngIf="information['persona_info'].travel == 2">
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="noTravel()">
                <span>No</span>
            </label>
        </div>
        <div class="col-3 col-lg-2 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="travel()">
                <span>Si</span>
            </label>
        </div>
        <div class="col-6 col-lg-4 col-md-2">
            <label class="radio mb-4">
                <input name="radioViaje" type="radio" id='radioP' (click)="depends()" checked>
                <span>Depende de la oportunidad</span>
            </label>
        </div>
    </div>

    <label class="sub">Nivel de educación más alto</label>
    
    <div class="dropdown">
        <select class="drop dropdown-toggle" formControlName="education">
            <option *ngFor="let education of educations" class="dropdown-item" value="{{education.ID}}">{{education.name}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col-6 col-lg-4 col-md-6">
            <button type="submit" class="boton2">Guardar</button>
        </div>
    </div>
</form>